body {
	margin: 0px;
	font-family: "Raleway";
}

.mainContainer {
	width: 375px;
	height: 667px;
	margin: 0 auto;
	margin-top: 30px;
}

#mapContainer {
	height: 297px;
	background-color: grey;
}

.infoContainer {
	height: 370px;
	background: linear-gradient(rgba(191,191,191,.7), rgba(0,0,0,0));
	padding: 10px;
	color: rgb(136, 136, 136);
}

p {
	padding: 0px;
	margin: 0px;
    
}

.titleBox1 {
	position: absolute;
	top: 30px;
	height: 50px;
	width: 375px;
	background-color: rgba(191,191,199,.7);
}

.titleBox1 p {
	height: 18px;
	font-family: "Raleway";
	font-weight: 400;
	color: white;
	font-size: 1.1em;
	padding: 5px;
}

.titleBox1 p span {
	height: 34px !important;
	font-family: "Raleway";
	font-weight: 900;
	color: white;
	font-size: 1.7em;
	padding: 5px;
}

#mapContainer .titleBox2 {
	position: absolute;
	top: 277px;
	height: 50px;
	width: 375px;
	background-color: rgba(191,191,199,.7);
}

.titleBox2 p {
	height: 18px;
	font-family: "Raleway";
	font-weight: 400;
	color: white;
	font-size: 1.1em;
	padding: 5px;
}

.titleBox2 p span {
	height: 34px !important;
	font-family: "Raleway";
	font-weight: 900;
	color: white;
	font-size: 1.7em;
	padding: 5px;
}
.populationboxage {
    width: 71px;
    height: 40px;
}

.populationbox {
    height: 40px;
    padding: 0px;
	margin: 0px;
}
